<div matDialogTitle>
  <div id="title">
    <p *ngIf="!login">Register a new account</p>
    <p *ngIf="login">Login</p>
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <p>
      <mat-form-field hintLabel="Enter your email address">
        <input id="email" matInput placeholder="Your email" formControlName="email" (focusout)="onEmailFocusLost()">
        <mat-error *ngIf="this.registrationForm.get('email')?.errors">Invalid email address</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field hintLabel="Enter your password">
        <input id="password" matInput placeholder="Your password" type="password" formControlName="password">
        <mat-error *ngIf="this.registrationForm.get('password')?.errors != null">Invalid password</mat-error>
      </mat-form-field>
    </p>

    <p *ngIf=!login>
      <mat-form-field hintLabel="Repeat your password">
        <input id="passwordRepeated" matInput placeholder="Repeated password" type="password"
               formControlName="passwordRepeated">
        <mat-error *ngIf="this.registrationForm.get('passwordRepeated')?.errors != null">
          Repeated password does not match
        </mat-error>
      </mat-form-field>
    </p>
    <mat-divider></mat-divider>

    <div class="form-actions">
      <button *ngIf=!login mat-button type="submit" [disabled]="!registrationForm.valid && !passwordsMatch()">Register
      </button>
      <button *ngIf=login mat-button type="submit"
              [disabled]="registrationForm.get('password')?.errors!= null || registrationForm.get('email')?.errors!= null">
        Sign in
      </button>

      <div id="typeSwitch">
        <button *ngIf=!login type="button" mat-button (click)="login=true">Already have an account?</button>
        <button *ngIf=login type="button" mat-button (click)="forgotPassword()">Forgot your password?</button>
        <button *ngIf=login type="button" mat-button (click)="login=false">New user?</button>
      </div>
    </div>
  </form>


</mat-dialog-content>

