.mat-card-header {
  display: flex;
}

.mat-button{
  align-self: flex-start;
  margin-left: auto;
}

.header {
  display: flex;
}

.mat-card-title {
  justify-self: flex-start;
}

mat-card {
  width: 100%;
  height: 100%;
}
