<mat-card class="mat-elevation-z2">

  <div class="header">
    <div>
      <mat-card-title>{{this.textContent.title}}</mat-card-title>
      <mat-card-subtitle>{{this.textContent.subtitle}}</mat-card-subtitle>
    </div>

    <div *ngIf="isOwner" id=actions>
      <button mat-button (click)="onClickShare()">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onClickEdit()">Edit</button>
        <button mat-menu-item (click)="onClickDelete()">Delete</button>
      </mat-menu>

    </div>
  </div>
  <mat-card-content>
    <div class="image-container" *ngIf="textContent.imageHref">
      <img [src]="textContent.imageHref" alt="Invalid image URL" width="60px" height="60px">
    </div>
    <div>
      <p>{{this.textContent.content}}</p>
      <p>
        <mat-chip-list selectable="false">
          <mat-chip *ngFor="let tag of this.textContent.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </p>
    </div>

  </mat-card-content>

</mat-card>
