<app-toolbar></app-toolbar>

<div>
  <mat-card>
    <mat-card-content>
      <mat-chip-list #chipList selectable multiple>
        <mat-icon>filter_alt</mat-icon>
        <mat-chip *ngFor="let tag of availableTags" #chip="matChip" [selected]="initialTags.indexOf(chip.value.trim())>=0" (click)="onClickChip(chip, chipList)">
          {{tag}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="feed">
  <div *ngIf="loadedContent && loadedContent.length > 0">
    <div class="card" *ngFor="let textContent of loadedContent;">
      <app-text-card [textContent]=textContent [isOwner]="true" (textChanged)="loadTexts()"></app-text-card>
    </div>
  </div>

  <div *ngIf="loadedContent && loadedContent.length == 0">
    No content found
  </div>
</div>

