<span mat-dialog-title>
  Share your text!
</span>

<mat-dialog-content>
  <mat-slide-toggle [(ngModel)]="shareToggled" (toggleChange)="onToggleChange()">
    Enable sharing
  </mat-slide-toggle>
  <div>
    <mat-form-field id="share_link_box">
      <input matInput readonly disabled="true" [(ngModel)]="publicLink" placeholder="Enable sharing to reveal a public link">
    </mat-form-field>
    <button mat-icon-button *ngIf="shareToggled" (click)="copyLinkToClipboard()">
      <mat-icon>
        content_copy
      </mat-icon>
    </button>
  </div>

</mat-dialog-content>
