<span mat-card-title>Forgot password</span>
<form *ngIf="!submitted" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input id="email" matInput placeholder="Your email" formControlName="email">
    <mat-error *ngIf="this.forgotPasswordForm.get('email')?.errors">Invalid email address</mat-error>
  </mat-form-field>
  <button mat-button [disabled]=!forgotPasswordForm.valid>Submit</button>
</form>
<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading"></mat-progress-spinner>
<span *ngIf="submitted && success" mat-card-content>
  Forgotten password form submitted successfully! Check your inbox.
</span>
<span *ngIf="submitted && !success" mat-card-content>
  No user account found for {{this.forgotPasswordForm.get("email")?.value}}!
</span>
