<mat-toolbar>
  <mat-form-field>
    <input matInput placeholder="Search texts" [(ngModel)]="inputValue" (keyup.enter)="onEnter($event)">
  </mat-form-field>


  <button mat-button *ngIf="isSignedIn" (click)="addText()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="userMenu" id="menuButton">
    <span>Hello {{username}}!</span>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button *ngIf="!isSignedIn" mat-menu-item (click) = signIn()>Sign in</button>
    <button *ngIf="isSignedIn" mat-menu-item (click) = signOut()>Sign out</button>
  </mat-menu>
</mat-toolbar>

